<%= f.label field.attribute %>

<% if resource.new_record? %>
  <%= text_field_tag :date_time, nil, class: 'datepicker', id: 'reservation_date' %>
<% else %>
  <%= text_field_tag :date_time, resource.start.to_date, class: 'datepicker', id: 'reservation_date' %>
<% end %>

<span class="time-range">
  <span class="start"></span>
  <span class="end"></span>
</span>

<% if resource.new_record? %>
  <div class="reservation-when-times">
    <%= render partial: 'shared/plain_time_select', locals: { show_hours: true } %>
  </div>
<% else %>
  <div class="reservation-when-times" data-start="<%= resource.time_range.begin %>" data-end="<%= resource.time_range.end %>">
    <%= render partial: 'shared/plain_time_select', locals: { show_hours: true } %>
  </div>
<% end%>
