<link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
  (function () {
    if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
    if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
      s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
      var h = d[g]('body')[0];h.appendChild(s); }
  })();
</script>

<span class="addtocalendar atc-style-blue">
  <var class="atc_event">
    <var class="atc_date_start"><%= @reservation.start.strftime("%Y-%m-%d %H:%M") %></var>
    <var class="atc_date_end"><%= @reservation.end.strftime("%Y-%m-%d %H:%M") %></var>
    <var class="atc_timezone"><%= @reservation.start.time_zone.tzinfo.name %></var>
    <var class="atc_title"><%= @reservation.name %></var>
    <var class="atc_description"><%= @reservation.description %></var>
    <var class="atc_location"><%= @location %></var>
    <var class="atc_organizer"><%= @user.full_name %></var>
    <var class="atc_organizer_email"><%= @user.email %></var>
  </var>
</span>