<%= render partial: 'greetings' %>

<p>
  You have been successfully signed up to bookanook.herokuapp.com<br>

  Your username: <b><%= @user.email %></b><br>
  Your password: <b><%= @user.password %></b><br>
</p>
<p>
  <%= link_to "Click here", new_user_session_url %> to login.
</p>
<p>
  <%= link_to "Click here", edit_user_registration_url %> to update your account and passsword.
</p>
