<div class="nook-statistics">
  <%= form_tag(:admin_nook_stats_fetch, remote: true, id: 'nooks-stats-filter', class: 'stats-filter') do %>
    <div class="row">
      <div class="col-md-6 filter-col">
        <%= text_field_tag :nooks, nil, placeholder: 'Nooks', class: 'selectize-nook',
          'data-options': Nook.strip_nook_data( current_user.nooks_in_charge ) %>
      </div>
      <div class="col-md-2 filter-col">
        <%= text_field_tag :start_date, nil,  placeholder: 'Start date', class: 'datepicker' %>
      </div>
      <div class="col-md-2 filter-col">
        <%= text_field_tag :end_date, nil,  placeholder: 'End date (inclusive)', class: 'datepicker' %>
      </div>
      <div class="col-md-1 filter-col">
        <%= submit_tag 'Go', class: 'button' %>
      </div>
      <div class="col-md-1 filter-col">
        <%= button_tag class: 'download_spreadsheet button' do %>
          <%= inline_svg "box-add.svg", height: 14, width: 14 %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= form_tag(:admin_nook_stats_download, target: '_blank', class: 'stats-download', style:'display:none;') do %>
      <%= text_field_tag :nooks, nil, id: :nooks_clone %>
      <%= text_field_tag :start_date, nil, id: :start_date_clone %>
      <%= text_field_tag :end_date, nil, id: :end_date_clone %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div id="nooks-column-chart" class="column-chart"></div>
    </div>
    <div class="col-md-6">
      <div id="nooks-hours-column-chart" class="column-chart"></div>
    </div>
  </div>
  <div class="row chart-wrapper">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <select id="days-select">
          <% Date::DAYNAMES.each do |day| %>
            <option><%= day %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="nooks-one-day-time-heatmap" class="one-day-time-heatmap"></div>
      </div>
    </div>
  </div>
  <div class="row chart-wrapper">
    <div class="col-md-12">
      <div id="nooks-all-days-heatmap"></div>
    </div>
  </div>
  <div class="row chart-wrapper">
    <div class="col-md-12">
      <div id="nooks-days-time-heatmap"></div>
    </div>
  </div>
</div>
