<h1>Listing Nooks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Type</th>
      <th>Status</th>
      <th>Capacity</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @nooks.each do |nook| %>
      <tr>
        <td><%= link_to nook.name, nook %></td>
        <td><%= link_to nook.location.name, nook.location if nook.location %></td>
        <td><%= nook.type %></td>
        <td><%= nook.status %></td>
        <td><%= nook.max_capacity %></td>
        <td><%= link_to 'Edit', edit_nook_path(nook) %></td>
        <td><%= link_to 'Destroy', nook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nook', new_nook_path, class: 'btn btn-primary' %>
